<div class="container">
  <div class="row" id="get_help">
    <input type="text" placeholder="Name" ng-model="r.name"></input>
    <input type="button" name="type" value="Checkpoint" class="btn btn-default" ng-class="{active: r.type=='Checkpoint'}" ng-click="r.type='Checkpoint'"></input>
    <input type="button" name="type" value="Problem" class="btn btn-default" ng-class="{active: r.type=='Problem'}" ng-click="r.type='Problem'"></input><br />
    <input type="submit" value="Submit" class="btn btn-default" ng-click="get_help()"></input>
  </div>
</div>
